[Youtube link](https://www.youtube.com/watch?v=Mdq1WWSdUtw&list=WL&index=93&t=2495s)

file path = D:\Shailendra Kelkar\Projects\My_Git_Repo\Python_Pandas\PandasYouTubeSeries-data

In [2]:
import pandas as pd

In [37]:
df = pd.read_csv(r"D:\Shailendra Kelkar\Projects\My_Git_Repo\Python_Pandas\PandasYouTubeSeries-data\Flavors.csv")

In [38]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [39]:
numeric_cols = ["Flavor Rating","Texture Rating","Total Rating"]
string_cols = ["Flavor","Base Flavor","Liked"]

In [40]:
# 1. Basic Group by function
# flavour is unique

In [41]:
df.groupby('Base Flavor')

In [51]:
group_by_frame = df.groupby('Base Flavor')

In [43]:
#2 Different aggregations using group by

In [44]:
#2.1 mean()

In [45]:
group_by_frame.mean()  # This gave me error, stating : TypeError: Could not convert string 'ChocolateRocky RoadChocolte Fudge Brownie' to numeric
# in video, automatically only numverica values were considered

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
#2.1.1 - using selective or muliple columns

In [46]:
group_by_frame.mean('Flavor Rating')  # picked only numerical

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [47]:
group_by_frame.mean(['Flavor Rating','Texture Rating','Total Rating'])   # multiple numerical

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [48]:
group_by_frame.mean(numeric_cols)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [49]:
# 2.2 Count
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [52]:
#2.3 min

df.groupby('Base Flavor').min()   # this can be used for string and numbers

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [53]:
# 2.4 max

df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [54]:
# 2.5 sum

df.groupby('Base Flavor').sum()   # for strings its concatenates 
# in video for sum only numercial values got considered. Could be a difference in python version

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [55]:
#3. Aggregation function

In [56]:
# agg - is a dictionary. onl which columns what are the aggregations that need to be performed.

In [57]:
df.groupby('Base Flavor').agg({'Flavor Rating':['mean','max','count','sum']})

            Flavor Rating
                     mean   max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2
Vanilla               5.7  10.0     6  34.2

In [58]:
# 3.1 - Aggregate on more than one columns. Utilize the dictionary

In [59]:
df.groupby('Base Flavor').agg({'Flavor Rating':['mean','max','count','sum'], 'Texture Rating':['mean','max','count','sum']})

            Flavor Rating                   Texture Rating
                     mean   max count   sum           mean  max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2       7.233333  7.6     3  21.7
Vanilla               5.7  10.0     6  34.2       5.650000  8.0     6  33.9

In [60]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [61]:
# 4. Group by on Mutile columns : Base Flavor and Like

In [62]:
df.groupby(['Base Flavor','Liked'])

In [64]:
df.groupby(['Base Flavor','Liked']).min()

                        Flavor  Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes      Chocolate            8.2             7.0          15.2
Vanilla     No      Neapolitan            2.3             3.4           5.7
            Yes    Cake Batter            6.5             6.0          12.5

In [66]:
#5. Get basic overview of group byu values
# using describe

In [68]:
df.groupby('Base Flavor').describe()

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]

In [72]:
df.groupby(['Base Flavor','Liked']).describe()
# its gives values like  : count	mean	std	min	25%	50%	75%	max

                  Flavor Rating                                             \
                          count mean       std  min   25%  50%   75%   max
Base Flavor Liked
Chocolate   Yes             3.0  8.4  0.346410  8.2  8.20  8.2  8.50   8.8
Vanilla     No              3.0  3.6  1.212436  2.3  3.05  3.8  4.25   4.7
            Yes             3.0  7.8  1.915724  6.5  6.70  6.9  8.45  10.0

                  Texture Rating            ...            Total Rating  \
                           count      mean  ...   75%  max        count
Base Flavor Liked                           ...
Chocolate   Yes              3.0  7.233333  ...  7.35  7.6          3.0
Vanilla     No               3.0  4.466667  ...  5.00  5.0          3.0
            Yes              3.0  6.833333  ...  7.25  8.0          3.0


                        mean       std   min    25%   50%    75%   max
Base Flavor Liked
Chocolate   Yes    15.700000  0.781025  15.2  15.25  15.3  15.95  16.6
Vanilla     No      8.066667  2.098412   5.7   7.25   8.8   9.25   9.7
            Yes    14.633333  2.950141  12.5  12.95  13.4  15.70  18.0

[3 rows x 24 columns]

In [ ]:
# 5.1 Describe one column

In [76]:
df.groupby(['Base Flavor','Liked'])['Flavor Rating'].describe()

                   count  mean       std  min   25%  50%   75%   max
Base Flavor Liked
Chocolate   Yes      3.0   8.4  0.346410  8.2  8.20  8.2  8.50   8.8
Vanilla     No       3.0   3.6  1.212436  2.3  3.05  3.8  4.25   4.7
            Yes      3.0   7.8  1.915724  6.5  6.70  6.9  8.45  10.0

In [77]:
# 5.2 Describe specific columns

In [78]:
df.groupby(['Base Flavor','Liked'])[['Flavor Rating','Texture Rating']].describe()

                  Flavor Rating                                             \
                          count mean       std  min   25%  50%   75%   max
Base Flavor Liked
Chocolate   Yes             3.0  8.4  0.346410  8.2  8.20  8.2  8.50   8.8
Vanilla     No              3.0  3.6  1.212436  2.3  3.05  3.8  4.25   4.7
            Yes             3.0  7.8  1.915724  6.5  6.70  6.9  8.45  10.0

                  Texture Rating                                            \
                           count      mean       std  min   25%  50%   75%
Base Flavor Liked
Chocolate   Yes              3.0  7.233333  0.321455  7.0  7.05  7.1  7.35
Vanilla     No               3.0  4.466667  0.923760  3.4  4.20  5.0  5.00
            Yes              3.0  6.833333  1.040833  6.0  6.25  6.5  7.25


                   max
Base Flavor Liked
Chocolate   Yes    7.6
Vanilla     No     5.0
            Yes    8.0